<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Help</title>
</head>
<body>
    <h1>Help</h1>
    {{>header}}
    <br><br>
    <pre>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, quidem.
    Eveniet dignissimos deleniti praesentium consectetur sunt delectus ratione, dolor ducimus.
    Totam adipisci aliquam quia obcaecati quidem, quibusdam nihil vitae similique!
    Doloribus ratione atque repellendus provident reiciendis nulla suscipit maiores quaerat!
    Ipsa laborum modi sit possimus et repudiandae incidunt. Recusandae, enim.
    Eius voluptatum quisquam fugit reiciendis minima sed sequi ea iusto!
    Cum sapiente maiores ut! Quo qui ad voluptatem odio animi.
    </pre>
    {{>footer}}
</body>
</html>