*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
    padding: 20px;
}

ul li{
    list-style-type: none;
}

a{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 1s;
    margin: 10px;
}

a:hover{
    text-decoration: underline;
    font-size: 16px;
    color: blue;
}

h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text]{
    width: 15%;
    height: 22px;
}

input[type=submit]{
    background: rgb(81, 81, 214);
    color: white;
    width: 10%;
    height: 25px;
    border: transparent;
}

img{
    width: 300px;
    height: 300px;
}

footer{
    font-size: 20px;
    margin-top: 100px;
}